body {
  background-color: #5d3ef7;
  font-family: 'PT Sans';
  color: white;
  padding: 30px 38px 0px;
  height: calc(100vh - 30px);
}

main {
  margin-top: 27.46vh;
}

p {
  font-size: 40px;
  margin-bottom: 20px;
}

small {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

footer {
  position: absolute;
  bottom: 25px;
  left: 38px;
}

aside {
  display: none;
  position: absolute;
  background-image: url('../src/images/street-art.JPG');
  background-position: center; 
  background-size: auto 100vh;
  height: 100vh;
  width: 43.26vw;
  top: 0;
  right: 0;
  transform: scaleX(-1);
}

.logo {
  width: 154px;
  height: 41px;
}

.social-link {
  color: #20079f;
  font-size: 24px;
  margin-right: 24px;
  text-decoration: none;
}

.social-link:hover {
  opacity: 0.8;
}

@media screen and (max-width:900px) and (orientation:landscape) {
  main {
    margin-top: 12vh;
  }

  p {
    font-size: 40px !important;
  }

  aside {
    display: block !important;
  }
}

@media screen and (min-width: 500px) {
  p {
    font-size: 60px;
  }
}

@media screen and (min-width: 700px) {
  body {
    padding-left: 80px;
  }

  p {
    font-size: 80px;
  }

  footer {
    left: 80px;
  }
}

@media screen and (min-width: 1440px) {
  aside {
    display: block;
  }
}